*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    min-height: 700px;
    height: 100vh;
    margin: 0;
    background: #808080;
    color: #cbcaca;
    font-family: 'Roboto', serif;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


/*TodoList*/

.todoList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 700px;
    background: #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(62, 9, 11, .3);
}

.todoList__img {
    background: url('https://images.unsplash.com/photo-1501598704300-01005bc39072?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
    height: 250px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.todoList__content {
    padding: 15px 25px;
}

.todoList__content ul.todoList__content__inner {
    padding: 0;
    overflow: auto;
}

.todoList__content li {
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.todoList__content li i {
    color: #3b4347;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

.todoList__content input[type="checkbox"] {
    display: none;
}

.todoList__content input[type="checkbox"] + label {
    color: #6c717b;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 5px 5px 30px;
}

.todoList__content input[type="checkbox"] + label:hover {
    color: #000000;
}

.todoList__content input[type="checkbox"] + label span.check {
    left: 0;
    top: 50%;
    position: absolute;
    transform: translatey(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #9c9c9c;
}

.todoList__content input[type="checkbox"]:checked + label {
    color: #aeb7c6;
    text-decoration: line-through;
}

.todoList__content input[type="checkbox"]:checked + label span.check {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.todoList__content input[type="checkbox"] + label span.check::after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background-image: url('https://img2.freepng.ru/20180328/udq/kisspng-check-mark-symbol-computer-icons-clip-art-mark-5abc3aba116716.1441542315222852420713.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    transform: scale(0);
    transition: transform 300ms cubic-bezier(.3, 0, 0, 1.5);
}

.todoList__content input[type="checkbox"]:checked + label span.check::after {
    transform: scale(1);
}

.todoList__content__inner {
    margin-bottom: 25px;
}



/*Button*/


.todoList__button {
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
    transition: background .1s linear;
    background-color: #b3acac;
}

.todoList__button:hover {
    background-color: #909090;
}

.todoList__button:hover a {
    color: #2b2b2b;
}

.todoList__button a {
    color: #6c717b;
    text-decoration: none;
    font-weight: 500;
}


